.home-background {
    background-image: url('../../images/movietheater1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    //overflow: hidden;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.long-input {
    width: 80%;
    max-width: 600px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.movie-card {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    height: 400px;
    width: 100%;
    max-width: 250px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    padding: 15px;
    margin: 0 auto;
    margin-bottom: 15px;
}

.movie-card-image {
    height: 100%;
    width: 150px;
    object-fit: cover;
    border-radius: 5px;
}

.movie-card-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 10px;
    flex-grow: 1;
    padding: 5px;
}

.header {
    color: red;
    text-align: center;
    text-decoration: underline;
    font-family: 'Garamond', serif;
    font-size: 175px; 
}

.card-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    margin-bottom: 5px;
}

.card-text {
    margin: 2px 0;
    padding: 2px;
    border-radius: 5px;
    max-height: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.card-title {
    margin: 0;
    padding: 2px 0;
    font-size: 18px;
}