.home-background {
    background-image: url('../../images/movietheater1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.movie-card {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    height: 400px;
    width: 100%;
    max-width: 250px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.movie-card-image {
    height: 100%;
    width: 150px;
    object-fit: cover;
    border-radius: 5px;;
}

.movie-card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 15px;
    flex-grow: 1;
}

.movie-card-content p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    height: 40px;
}