.page-background {
    background-image: url('../../images/movietheater1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
// Styling for the movie view container
.movie-view {
    width: 100%;
    //max-width: 800px;
    display: flex;
    border-radius: 50% 20% / 10% 40%;
    box-shadow: 5px 10px black;
    padding: 20px;
    margin-bottom: 30px;
    background-color: rgba(255, 255, 255, 0.8);
    justify-content: center;
}

// Add spacing to the image
img {
    width: 100%; // Make the image responsive
    max-width: 350px;
    margin-bottom: 15px;
    border-radius: 8px;
    
}

.image-container {
    flex: 1; // Allows image to grow and fill space
    display: flex;
    justify-content: center; // center image horizontally
    align-items: center; // center image vertically
}

.text-container {
    flex: 2; // Allows the text to take up more space
    padding-left: 20px; // Space between image and text
}

// Add styling to the title
.card-title {
    font: bold sans-serif;
    text-align: left; // Align text too the left
    margin-bottom: 10px;
}

// Adding styling to the paragraphs
p {
    font: sans-serif;
    text-align: left; // Align text to the left
    margin-bottom: 10px; // Space between paragraphs
}

// Styling for the description
.description {
    font: sans-serif;
    margin-top: 5px;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    justify-content: space-around;
}

// Styling for the back button
.back-button {
    padding: 4px 12px 4px 12px;
    color: whitesmoke;
    background-color: dodgerblue;
    border: none;
    border-radius: 4px;
    margin-top: 15px;
}

h3 {
    color: black;
    text-align: center;
    text-decoration: underline;
}

.similar-movies-card {
    .movie-card {
        width: 200px;
        height: 400px;
        margin: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    img {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }
}